@import "../../../../../style/const/colors";

.objective-img {
  width: 2rem;
}

.fa-mars {
  color: $accent-color;
}

.fa-venus {
  color: $primary-color;
}

.fa-male, .fa-female {
  font-size: 1.7rem;
}
