@import 'const/colors';
@import 'const/typography';

html,
body {
  height: 100%;
  font: $font;
  background-color: #eee;
}

button,
a,
i {
  cursor: pointer;
  outline: none !important;
  border: 0 !important;;
}

.brand {
  font-size: 1.7rem;
  font-weight: lighter;
}

.blured {
  opacity: 0.75;
}
