@import 'const/colors';
@import 'const/typography';

html,
body {
  height: 100%;
  font: $font;
  background-color: #eeeeee !important;
  color: $primary-text;
}

button,
a,
i {
  cursor: pointer;
  outline: none !important;
  border: 0 !important;;
}

.brand {
  font-size: 1.7rem;
  font-weight: lighter;
}

.blured {
  opacity: 0.75;
}

.landing-page {
  margin: 0;
  background: url('../assets/img/background.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: static;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
  }
}
