<div class="row text-center mt-20">
  <div class="col-md-12">
    <img src="../../../../../assets/img/logo-full.png" class="w-25 img-fluid">
    <p class="lead text-white subtitle">Votre assistant de fitness virtuel.</p>

    <div class="mt-4">
      <button mat-raised-button color="primary" routerLink="/connexion">
        <i class="fa fa-sign-in pr-2"></i>Connexion
      </button>
      <button mat-raised-button color="primary" routerLink="/connexion">
        <i class="fa fa-sign-out pr-2"></i>Inscription
      </button>
    </div>
  </div>
</div>

